@model Piedone.Facebook.Suite.Models.FacebookConnectSettingsPart
<fieldset>
    <legend>@T("Facebook Connect Settings")</legend>
    <span class="hint">
        @T("For the best experience, place this widget in a layer that both authenticated and anonymous users can see.")<br />
        @T("WARNING: new users will only be able to connect if registration is enabled. Otherwise only existing users will be able to login.")
    </span>
    <ol>
        <li>
            @Html.LabelFor(model => model.Permissions, T("Permissions"))
            @Html.TextBoxFor(model => model.Permissions, new { @class = "text singleline" })
            @Html.ValidationMessageFor(model => model.Permissions)
            <span class="hint">@T("If extended permissions are needed, enter a list of permission, separated by commas.")</span>
        </li>
        <li>
            @Html.EditorFor(m => m.AutoLogin)
            <label for="@Html.FieldIdFor(m => m.AutoLogin)" class="forcheckbox">@T("Automatically log in authenticated and connected users")</label>
            @Html.ValidationMessageFor(m => m.AutoLogin)
            <span class="hint">@T("If checked, users who have connected to the site and are logged in at Facebook will be automatically logged in on the site, without clicking the login button. NOTE: this will practically prevent users from logging out of Orchard till they're logged in at Facebook.")</span>
        </li>
        <li>
            @Html.EditorFor(m => m.OnlyAllowVerified)
            <label for="@Html.FieldIdFor(m => m.OnlyAllowVerified)" class="forcheckbox">@T("Only allow verified users")</label>
            @Html.ValidationMessageFor(m => m.OnlyAllowVerified)
            <span class="hint">@T("If checked, only verified Facebook users will get authenticated.")</span>
        </li>
        <li>
            @Html.EditorFor(m => m.SimpleRegistration)
            <label for="@Html.FieldIdFor(m => m.SimpleRegistration)" class="forcheckbox">@T("Simple registration")</label>
            @Html.ValidationMessageFor(m => m.SimpleRegistration)
            <span class="hint">@T("If checked, new users will only be prompted for a user name when registering. This means that they won't be able to login with the built-in authentication form (only with their Facebook-account) and won't have an e-mail saved.")</span>
        </li>
    </ol>
</fieldset>
