<div id="current-facebook-user-profile">
    <a href="@Model.CurrentUser.Link">
        <img src="@Model.CurrentUser.PictureLink" id="current-facebook-user-picture" alt="@T("{0}'s profile picture", Model.CurrentUser.Name)" />
    </a>
    <strong id="current-facebook-user-name">
        @Model.CurrentUser.Name
    </strong>
</div>
    
<a href="" id="facebook-logout-link">
    @T("Logout from Facebook")</a>
<script type="text/javascript">
    $.facebookConnect.initializeLogout("@Model.ReturnUrl");
</script>