@*@Html.ValidationSummary()*@

@using (Html.BeginFormAntiForgeryPost("SimpleRegistration", FormMethod.Post))
{
    <fieldset>
        <ol>
            <li>
                <label for="UserName">@T("Username:")</label>
                @Html.TextBox("UserName")
                @Html.ValidationMessage("UserName")
                @Html.Hint(T("Choose a unique username for your account you can login to with your Facebook credentials."))
            </li>
        </ol>
    </fieldset>
    <button type="submit">@T("Register with your Facebook account")</button>
}